## Gen AI Lecture 1 : NLP Techniques | Data Cleaning

In [8]:
## Data Cleaning 1. string package and regex package, and csv package

In [12]:
import string as s

In [15]:
print('Lower case strings:',s.ascii_lowercase)

Lower case strings: abcdefghijklmnopqrstuvwxyz

In [19]:
print('Upper Case Strings:',s.ascii_uppercase)
print('Ascii Letters Strings:',s.ascii_letters)
print('Punctutation Strings,symbols:',s.punctuation)
print('Digit Strings : ',s.digits)

Upper Case Strings: ABCDEFGHIJKLMNOPQRSTUVWXYZ
Ascii Letters Strings: abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Punctutation Strings,symbols: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
Digit Strings :  0123456789

In [27]:
message = 'one upon a time we use to learn python from some trainer'
print(s.capwords(message))

One Upon A Time We Use To Learn Python From Some Trainer

In [29]:
## Formatter and Template Class 
## Importance classes of string module
from string import Formatter

In [35]:
formatter = Formatter()
name = 'Awnish'
age = 26
formate_string = formatter.format('Hello, Mr {},Your age is {} ',name,age)
print(formate_string)

Hello, Mr Awnish,Your age is 26

In [37]:
print(f'Hello Mr {name} Your age is {age}')

Hello Mr Awnish Your age is 26

In [41]:
print('Hello Mr {} Welcome to {} session'.format('Awnish','Python')) # str.format()

Hello Mr Awnish Welcome to Python session

In [45]:
print('Hello Mr {1} Welcome to {0} session'.format('Awnish','Python')) # str.format() using index

Hello Mr Python Welcome to Awnish session

In [47]:
name = 'chandan'
session = 'Java'
print('Hello Mr {1} Welcome to {0} session'.format(name,session)) # str.format() using variable or keyword

Hello Mr Java Welcome to chandan session

In [49]:
name = 'chandan'
session = 'Java'
print('Hello Mr {name} Welcome to {session} session'.format(session=session,name=name)) # str.format() using variable or keyword

Hello Mr chandan Welcome to Java session

In [51]:
## Use of Template Class  : It uses $ has a prefix Identifier.

In [53]:
# 5 Best Use case of Template class in string module
from string import Template

In [57]:
tmp = Template('Hello $name') #Here you can create your own varible placeholder,Identifiers.
parsed_string = tmp.substitute(name='Awnish Kumar')
print(parsed_string)

Hello Awnish Kumar

In [63]:
email_message = "Dear $customer, Your Order No: #$order_id has been Delivered."

In [65]:
t = Template(email_message)
parsed_message = t.substitute(customer='Pawan Kumar',order_id='ORD718181710')
print(parsed_message)

Dear Pawan Kumar, Your Order No: #ORD718181710 has been Delivered.

In [67]:
## use of Template to Make dbconnections 
t = Template('''
192.168.10.01
host=$host
port=$port
user=$user
password=$password
''')

config = {'host':'localhost','port':8888,'user':'admin','password':123456}
print(t.substitute(config))

192.168.10.01
host=localhost
port=8888
user=admin
password=123456